<html>
    <head><title>画像編集</title></head>
    <body>
        <table align="center">
             <tr align="center"> <td> <h1>画像編集</h1></td></tr>
             <tr> <td> <h2>画像をアップロードしてください</h2></td></tr>
             <tr> <td align="center"> 
                 <form method="post" enctype="multipart/form-data">
                    <input type="file" name="" id="" accept=".png, .jpg, .jpeg">
                <button type="submit">送信する</button>
              </form>
                 </td></tr>
        </table>
    </body>

</html>